@model User


    <form method="post">
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName"></span>
        <br />

    <input asp-for="Age" class="form-control" /><br />
    <input asp-for="BirthDate" class="form-control" />
        <button type="submit">Gönder</button>
    </form>

